body {
  background-image: url("https://www.publicdomainpictures.net/pictures/250000/nahled/snow-background-1518252097LRO.jpg");
  background-size: cover;
}

.input {
  text-align: center;
  text-decoration: underline;
  font-size: xx-large;
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#checkMountains {
  border: 5px black solid;
  height: 800px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url("https://c.stocksy.com/a/BhS500/z9/1301949.jpg");
  background-size: cover;
}

img {
  opacity: 0.5;
}

.inputBox {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

#roadConditions {
  border: 5px black solid;
  height: 800px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/movement-on-snowy-road-in-morning-dmitry-savin.jpg");
  background-size: cover;
}

#roadh1 {
  font: bolder;
  font-size: xx-large;
  text-align: center;
  background-color: rgb(214, 254, 255);
  text-decoration: underline;
  padding: 5px;
  width: 100%;
}

button {
background: url("https://ak.picdn.net/shutterstock/videos/5911769/thumb/1.jpg");
color: rgb(0, 0, 100);
border: 2px solid #03009c;
border-radius: 15px 50px 30px;
height: 150px;
width: 250px;
margin: 4px;
justify-content: center !important;
align-items: center !important;
font-size: x-large;
font-weight: bolder;
justify-content: space-around;
}

button:hover {
  background-color: #7782b4;
  color: rgb(0, 0, 0);
}

.weatherBox {
  background-color: white;
  border: 1px black solid;
  font-size: larger;
  font-weight: bolder;

}

#keystoneWeather {
  background-color: rgb(167, 223, 255);
  font-weight: bold;
}
#lovelandWeather {
  background-color: rgb(147, 215, 255);
  font-weight: bold;
}

#vailWeather {
  background-color: rgb(183, 226, 252);
  font-weight: bold;
}

#breckenridgeWeather {
  background-color: rgb(200, 235, 255);
  font-weight: bold;
}
#monarchWeather {
  background-color:rgb(219, 242, 255);
  font-weight: bold;
}

.list-unstyled {
  display: inline-flex;
  padding: 5px;
  margin: 5px;
}

li {
  padding: 5px;
  margin: 5px;
}
/* .clearfix {
    border: 1px solid black;
    width: 1000px;
    padding: 10px;
    background-image: linear-gradient(red, yellow);
    font-size: medium;
    font-weight: bold; 
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 10px;

}

img {
    object-fit: cover;
}

.container {

}

.col-4 {
    height: 300px;
    width: 500px;
    border: black 1px solid;
    background-color: whitesmoke;
}

.col {
    border: 1px black solid;
    height: 200px;
    width: 500px;
    background-color: whitesmoke;
} */
