body {
  background-image: url("https://static7.depositphotos.com/1106664/679/i/950/depositphotos_6798046-stock-photo-snow-background.jpg");
  background-size: cover;
}

.input {
  text-align: center;
  text-decoration: underline;
  font-size: xx-large;
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#checkMountains {
  border: 5px black solid;
  height: 800px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url("https://c.stocksy.com/a/BhS500/z9/1301949.jpg");
  background-size: cover;
}

img {
  opacity: 0.5;
}

.inputBox {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

#roadConditions {
  border: 5px black solid;
  height: 800px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/movement-on-snowy-road-in-morning-dmitry-savin.jpg");
  background-size: cover;
}

#roadh1 {
  font: bolder;
  font-size: xx-large;
  text-align: center;
  background-color: rgb(214, 254, 255);
  text-decoration: underline;
  padding: 5px;
  width: 100%;
  mar
}

button{
display: inline-block;
background-color: rgb(214, 254, 255);
  color: black;
  border: 2px solid #0b440c;
  border-radius: 25px;
}

button:hover {
  background-color: #7782b4; /* Green */
  color: rgb(0, 0, 0);
}

footer {
  /* border: 5px solid black; */
}

/* .clearfix {
    border: 1px solid black;
    width: 1000px;
    padding: 10px;
    background-image: linear-gradient(red, yellow);
    font-size: medium;
    font-weight: bold; 
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 10px;

}

img {
    object-fit: cover;
}

.container {

}

.col-4 {
    height: 300px;
    width: 500px;
    border: black 1px solid;
    background-color: whitesmoke;
}

.col {
    border: 1px black solid;
    height: 200px;
    width: 500px;
    background-color: whitesmoke;
} */
